In [1]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("SQLite version:", sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the Facilities table
    :param conn: the Connection object
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    # Full path to the Tier 1 database
    database = "/Users/cameronhicks/Documents - On Mac/Git Hub Files/Springboard-Bootcamp/SQL Case Study - Country Club/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    if conn is not None:
        with conn: 
            print("Query all facilities:")
            select_all_tasks(conn)
    else:
        print("Error! Cannot create the database connection.")
 
if __name__ == '__main__':
    main()

SQLite version: 2.6.0
Query all facilities:
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

/var/folders/vn/_qrvqjjx1yb4mwjbsrg0tnj80000gn/T/ipykernel_16928/121317671.py:13: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print("SQLite version:", sqlite3.version)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [2]:
Q10 = """
    SELECT
    	f.name AS facility_name,
        SUM(b.slots * CASE WHEN b.memid = 0 THEN f.guestcost ELSE f.membercost END) AS total_revenue
    FROM Bookings AS b
    JOIN Facilities AS f
    	ON b.facid = f.facid
    GROUP BY f.name
    HAVING total_revenue < 1000
    ORDER BY total_revenue;
    """

In [4]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("SQLite version:", sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the Facilities table
    :param conn: the Connection object
    """
    cur = conn.cursor()
    
    cur.execute(Q10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    # Full path to the Tier 1 database
    database = "/Users/cameronhicks/Documents - On Mac/Git Hub Files/Springboard-Bootcamp/SQL Case Study - Country Club/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    if conn is not None:
        with conn: 
            print("Query all facilities:")
            select_all_tasks(conn)
    else:
        print("Error! Cannot create the database connection.")
 
if __name__ == '__main__':
    main()

SQLite version: 2.6.0
Query all facilities:
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

/var/folders/vn/_qrvqjjx1yb4mwjbsrg0tnj80000gn/T/ipykernel_16928/2696262535.py:13: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print("SQLite version:", sqlite3.version)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [7]:
Q11 = """
SELECT
	m.memid,
    CONCAT(m.surname, ', ',m.firstname) AS member_name,
    CONCAT(r.surname, ', ',r.firstname) AS recommender_name
FROM Members AS m
LEFT JOIN Members AS r
	ON m.recommendedby = r.memid
WHERE m.recommendedby IS NOT NULL
	AND m.recommendedby <> 0
ORDER BY m.surname, m.firstname;
"""

In [8]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("SQLite version:", sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the Facilities table
    :param conn: the Connection object
    """
    cur = conn.cursor()
    
    cur.execute(Q11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    # Full path to the Tier 1 database
    database = "/Users/cameronhicks/Documents - On Mac/Git Hub Files/Springboard-Bootcamp/SQL Case Study - Country Club/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    if conn is not None:
        with conn: 
            print("Query all facilities:")
            select_all_tasks(conn)
    else:
        print("Error! Cannot create the database connection.")
 
if __name__ == '__main__':
    main()

SQLite version: 2.6.0
Query all facilities:
(15, 'Bader, Florence', 'Stibbons, Ponder')
(12, 'Baker, Anne', 'Stibbons, Ponder')
(16, 'Baker, Timothy', 'Farrell, Jemima')
(8, 'Boothe, Tim', 'Rownam, Tim')
(5, 'Butters, Gerald', 'Smith, Darren')
(22, 'Coplin, Joan', 'Baker, Timothy')
(36, 'Crumpet, Erica', 'Smith, Tracy')
(7, 'Dare, Nancy', 'Joplette, Janice')
(28, 'Farrell, David', ', ')
(13, 'Farrell, Jemima', ', ')
(0, 'GUEST, GUEST', ', ')
(20, 'Genting, Matthew', 'Butters, Gerald')
(35, 'Hunt, John', 'Purview, Millicent')
(11, 'Jones, David', 'Joplette, Janice')
(26, 'Jones, Douglas', 'Jones, David')
(4, 'Joplette, Janice', 'Smith, Darren')
(21, 'Mackenzie, Anna', 'Smith, Darren')
(10, 'Owen, Charles', 'Smith, Darren')
(17, 'Pinker, David', 'Farrell, Jemima')
(30, 'Purview, Millicent', 'Smith, Tracy')
(3, 'Rownam, Tim', ', ')
(27, 'Rumney, Henrietta', 'Genting, Matthew')
(24, 'Sarwin, Ramnaresh', 'Bader, Florence')
(1, 'Smith, Darren', ', ')
(37, 'Smith, Darren', ', ')
(14, 'Smith, Jack', 'Smith, Darren')
(2, 'Smith, Tracy', ', ')
(9, 'Stibbons, Ponder', 'Tracy, Burton')
(6, 'Tracy, Burton', ', ')
(33, 'Tupperware, Hyacinth', ', ')
(29, 'Worthington-Smyth, Henry', 'Smith, Tracy')

/var/folders/vn/_qrvqjjx1yb4mwjbsrg0tnj80000gn/T/ipykernel_16928/87388845.py:13: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print("SQLite version:", sqlite3.version)

Q12: Find the facilities with their usage by member, but not guests

In [11]:
# Version 1 - total facility usage by members

Q12V1 = """
SELECT 
	f.name AS facility_name,
    COUNT(b.bookid) AS member_usage
FROM Bookings AS b
JOIN Facilities AS f
	ON b.facid = f.facid
WHERE b.memid <> 0
GROUP BY f.name
ORDER BY member_usage DESC;
"""

In [12]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("SQLite version:", sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the Facilities table
    :param conn: the Connection object
    """
    cur = conn.cursor()
    
    cur.execute(Q12V1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    # Full path to the Tier 1 database
    database = "/Users/cameronhicks/Documents - On Mac/Git Hub Files/Springboard-Bootcamp/SQL Case Study - Country Club/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    if conn is not None:
        with conn: 
            print("Query all facilities:")
            select_all_tasks(conn)
    else:
        print("Error! Cannot create the database connection.")
 
if __name__ == '__main__':
    main()

SQLite version: 2.6.0
Query all facilities:
('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)

/var/folders/vn/_qrvqjjx1yb4mwjbsrg0tnj80000gn/T/ipykernel_16928/1059256011.py:13: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print("SQLite version:", sqlite3.version)

In [13]:
 # Version 2 - total usage of ficilities detailed out by member

Q12V2 = """
SELECT
	f.name AS facility_name,
    CONCAT(m.firstname, ' ',m.surname) AS member_name,
    SUM(b.slots) AS total_slots
FROM Bookings AS b
JOIN Facilities AS f
	ON b.facid = f.facid
JOIN Members AS m
	ON b.memid = m.memid
WHERE b.memid <> 0
GROUP BY f.name, m.memid
ORDER BY f.name, member_name;
"""

In [14]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("SQLite version:", sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the Facilities table
    :param conn: the Connection object
    """
    cur = conn.cursor()
    
    cur.execute(Q12V2)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    # Full path to the Tier 1 database
    database = "/Users/cameronhicks/Documents - On Mac/Git Hub Files/Springboard-Bootcamp/SQL Case Study - Country Club/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    if conn is not None:
        with conn: 
            print("Query all facilities:")
            select_all_tasks(conn)
    else:
        print("Error! Cannot create the database connection.")
 
if __name__ == '__main__':
    main()

SQLite version: 2.6.0
Query all facilities:
('Badminton Court', 'Anna Mackenzie', 96)
('Badminton Court', 'Anne Baker', 30)
('Badminton Court', 'Burton Tracy', 6)
('Badminton Court', 'Charles Owen', 18)
('Badminton Court', 'Darren Smith', 432)
('Badminton Court', 'David Jones', 24)
('Badminton Court', 'David Pinker', 21)
('Badminton Court', 'Douglas Jones', 6)
('Badminton Court', 'Erica Crumpet', 6)
('Badminton Court', 'Florence Bader', 27)
('Badminton Court', 'Gerald Butters', 63)
('Badminton Court', 'Henry Worthington-Smyth', 15)
('Badminton Court', 'Hyacinth Tupperware', 3)
('Badminton Court', 'Jack Smith', 36)
('Badminton Court', 'Jemima Farrell', 21)
('Badminton Court', 'John Hunt', 6)
('Badminton Court', 'Millicent Purview', 6)
('Badminton Court', 'Nancy Dare', 30)
('Badminton Court', 'Ponder Stibbons', 48)
('Badminton Court', 'Ramnaresh Sarwin', 21)
('Badminton Court', 'Tim Boothe', 36)
('Badminton Court', 'Tim Rownam', 12)
('Badminton Court', 'Timothy Baker', 21)
('Badminton Court', 'Tracy Smith', 102)
('Massage Room 1', 'Anna Mackenzie', 2)
('Massage Room 1', 'Anne Baker', 6)
('Massage Room 1', 'Burton Tracy', 62)
('Massage Room 1', 'Charles Owen', 22)
('Massage Room 1', 'Darren Smith', 58)
('Massage Room 1', 'David Jones', 40)
('Massage Room 1', 'David Pinker', 6)
('Massage Room 1', 'Erica Crumpet', 4)
('Massage Room 1', 'Gerald Butters', 66)
('Massage Room 1', 'Henry Worthington-Smyth', 2)
('Massage Room 1', 'Hyacinth Tupperware', 2)
('Massage Room 1', 'Jack Smith', 54)
('Massage Room 1', 'Janice Joplette', 24)
('Massage Room 1', 'Jemima Farrell', 68)
('Massage Room 1', 'Joan Coplin', 2)
('Massage Room 1', 'John Hunt', 6)
('Massage Room 1', 'Matthew Genting', 52)
('Massage Room 1', 'Nancy Dare', 38)
('Massage Room 1', 'Ponder Stibbons', 40)
('Massage Room 1', 'Ramnaresh Sarwin', 16)
('Massage Room 1', 'Tim Boothe', 76)
('Massage Room 1', 'Tim Rownam', 176)
('Massage Room 1', 'Timothy Baker', 50)
('Massage Room 1', 'Tracy Smith', 12)
('Massage Room 2', 'Anne Baker', 4)
('Massage Room 2', 'Charles Owen', 4)
('Massage Room 2', 'David Jones', 8)
('Massage Room 2', 'Florence Bader', 4)
('Massage Room 2', 'Gerald Butters', 2)
('Massage Room 2', 'Jack Smith', 2)
('Massage Room 2', 'Janice Joplette', 4)
('Massage Room 2', 'Joan Coplin', 4)
('Massage Room 2', 'Matthew Genting', 2)
('Massage Room 2', 'Nancy Dare', 10)
('Massage Room 2', 'Ramnaresh Sarwin', 6)
('Massage Room 2', 'Tim Rownam', 4)
('Pool Table', 'Anna Mackenzie', 83)
('Pool Table', 'Anne Baker', 12)
('Pool Table', 'Burton Tracy', 30)
('Pool Table', 'Charles Owen', 1)
('Pool Table', 'Darren Smith', 28)
('Pool Table', 'David Farrell', 25)
('Pool Table', 'David Jones', 8)
('Pool Table', 'David Pinker', 9)
('Pool Table', 'Douglas Jones', 2)
('Pool Table', 'Florence Bader', 23)
('Pool Table', 'Gerald Butters', 6)
('Pool Table', 'Henrietta Rumney', 3)
('Pool Table', 'Henry Worthington-Smyth', 37)
('Pool Table', 'Hyacinth Tupperware', 9)
('Pool Table', 'Jack Smith', 7)
('Pool Table', 'Janice Joplette', 27)
('Pool Table', 'Jemima Farrell', 1)
('Pool Table', 'Joan Coplin', 11)
('Pool Table', 'Matthew Genting', 18)
('Pool Table', 'Millicent Purview', 5)
('Pool Table', 'Nancy Dare', 19)
('Pool Table', 'Ponder Stibbons', 12)
('Pool Table', 'Ramnaresh Sarwin', 13)
('Pool Table', 'Tim Boothe', 26)
('Pool Table', 'Tim Rownam', 282)
('Pool Table', 'Timothy Baker', 95)
('Pool Table', 'Tracy Smith', 64)
('Snooker Table', 'Anna Mackenzie', 14)
('Snooker Table', 'Burton Tracy', 40)
('Snooker Table', 'Charles Owen', 44)
('Snooker Table', 'Darren Smith', 24)
('Snooker Table', 'David Farrell', 2)
('Snooker Table', 'David Jones', 4)
('Snooker Table', 'David Pinker', 32)
('Snooker Table', 'Florence Bader', 66)
('Snooker Table', 'Gerald Butters', 72)
('Snooker Table', 'Henrietta Rumney', 28)
('Snooker Table', 'Hyacinth Tupperware', 12)
('Snooker Table', 'Jack Smith', 10)
('Snooker Table', 'Janice Joplette', 142)
('Snooker Table', 'Jemima Farrell', 44)
('Snooker Table', 'Joan Coplin', 20)
('Snooker Table', 'Matthew Genting', 2)
('Snooker Table', 'Millicent Purview', 2)
('Snooker Table', 'Nancy Dare', 46)
('Snooker Table', 'Ponder Stibbons', 40)
('Snooker Table', 'Ramnaresh Sarwin', 36)
('Snooker Table', 'Tim Boothe', 90)
('Snooker Table', 'Tracy Smith', 90)
('Squash Court', 'Anna Mackenzie', 4)
('Squash Court', 'Anne Baker', 110)
('Squash Court', 'Burton Tracy', 78)
('Squash Court', 'Charles Owen', 14)
('Squash Court', 'Darren Smith', 30)
('Squash Court', 'David Farrell', 2)
('Squash Court', 'David Jones', 16)
('Squash Court', 'David Pinker', 6)
('Squash Court', 'Douglas Jones', 2)
('Squash Court', 'Florence Bader', 4)
('Squash Court', 'Gerald Butters', 18)
('Squash Court', 'Henrietta Rumney', 4)
('Squash Court', 'Hyacinth Tupperware', 2)
('Squash Court', 'Jack Smith', 22)
('Squash Court', 'Janice Joplette', 30)
('Squash Court', 'Jemima Farrell', 16)
('Squash Court', 'Joan Coplin', 2)
('Squash Court', 'John Hunt', 2)
('Squash Court', 'Millicent Purview', 2)
('Squash Court', 'Ponder Stibbons', 4)
('Squash Court', 'Ramnaresh Sarwin', 4)
('Squash Court', 'Tim Boothe', 24)
('Squash Court', 'Timothy Baker', 10)
('Squash Court', 'Tracy Smith', 12)
('Table Tennis', 'Anna Mackenzie', 32)
('Table Tennis', 'Anne Baker', 2)
('Table Tennis', 'Burton Tracy', 48)
('Table Tennis', 'Charles Owen', 50)
('Table Tennis', 'Darren Smith', 56)
('Table Tennis', 'David Jones', 22)
('Table Tennis', 'David Pinker', 34)
('Table Tennis', 'Erica Crumpet', 4)
('Table Tennis', 'Florence Bader', 86)
('Table Tennis', 'Gerald Butters', 2)
('Table Tennis', 'Henry Worthington-Smyth', 6)
('Table Tennis', 'Jack Smith', 10)
('Table Tennis', 'Janice Joplette', 18)
('Table Tennis', 'Jemima Farrell', 24)
('Table Tennis', 'Joan Coplin', 46)
('Table Tennis', 'John Hunt', 2)
('Table Tennis', 'Matthew Genting', 54)
('Table Tennis', 'Millicent Purview', 14)
('Table Tennis', 'Nancy Dare', 10)
('Table Tennis', 'Ponder Stibbons', 6)
('Table Tennis', 'Ramnaresh Sarwin', 6)
('Table Tennis', 'Tim Boothe', 8)
('Table Tennis', 'Tim Rownam', 150)
('Table Tennis', 'Timothy Baker', 48)
('Table Tennis', 'Tracy Smith', 56)
('Tennis Court 1', 'Anne Baker', 18)
('Tennis Court 1', 'Burton Tracy', 93)
('Tennis Court 1', 'Charles Owen', 51)
('Tennis Court 1', 'David Farrell', 18)
('Tennis Court 1', 'David Jones', 84)
('Tennis Court 1', 'David Pinker', 51)
('Tennis Court 1', 'Douglas Jones', 27)
('Tennis Court 1', 'Erica Crumpet', 3)
('Tennis Court 1', 'Florence Bader', 3)
('Tennis Court 1', 'Gerald Butters', 171)
('Tennis Court 1', 'Jack Smith', 75)
('Tennis Court 1', 'Janice Joplette', 57)
('Tennis Court 1', 'Jemima Farrell', 3)
('Tennis Court 1', 'Joan Coplin', 21)
('Tennis Court 1', 'John Hunt', 12)
('Tennis Court 1', 'Matthew Genting', 3)
('Tennis Court 1', 'Nancy Dare', 81)
('Tennis Court 1', 'Ponder Stibbons', 3)
('Tennis Court 1', 'Ramnaresh Sarwin', 15)
('Tennis Court 1', 'Tim Boothe', 12)
('Tennis Court 1', 'Tim Rownam', 18)
('Tennis Court 1', 'Timothy Baker', 45)
('Tennis Court 1', 'Tracy Smith', 93)
('Tennis Court 2', 'Anne Baker', 114)
('Tennis Court 2', 'Burton Tracy', 9)
('Tennis Court 2', 'Charles Owen', 141)
('Tennis Court 2', 'Darren Smith', 57)
('Tennis Court 2', 'David Farrell', 3)
('Tennis Court 2', 'David Jones', 99)
('Tennis Court 2', 'Florence Bader', 24)
('Tennis Court 2', 'Gerald Butters', 9)
('Tennis Court 2', 'Henrietta Rumney', 3)
('Tennis Court 2', 'Jack Smith', 3)
('Tennis Court 2', 'Janice Joplette', 24)
('Tennis Court 2', 'Jemima Farrell', 3)
('Tennis Court 2', 'John Hunt', 12)
('Tennis Court 2', 'Millicent Purview', 3)
('Tennis Court 2', 'Nancy Dare', 33)
('Tennis Court 2', 'Ponder Stibbons', 96)
('Tennis Court 2', 'Ramnaresh Sarwin', 36)
('Tennis Court 2', 'Tim Boothe', 168)
('Tennis Court 2', 'Tim Rownam', 18)
('Tennis Court 2', 'Timothy Baker', 21)
('Tennis Court 2', 'Tracy Smith', 6)

/var/folders/vn/_qrvqjjx1yb4mwjbsrg0tnj80000gn/T/ipykernel_16928/567361594.py:13: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print("SQLite version:", sqlite3.version)

Q13: Find the facilities usage by month, but not guests

In [18]:
Q13 = """
SELECT
	STRFTIME('%m', b.starttime) AS Month,
    f.name,
    SUM(b.slots) AS Total_Bookings
FROM Bookings AS b
JOIN Facilities AS f
	ON b.facid = f.facid
WHERE b.memid <> 0
GROUP BY Month, f.name
ORDER BY Month, f.name;
"""

In [19]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("SQLite version:", sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the Facilities table
    :param conn: the Connection object
    """
    cur = conn.cursor()
    
    cur.execute(Q13)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    # Full path to the Tier 1 database
    database = "/Users/cameronhicks/Documents - On Mac/Git Hub Files/Springboard-Bootcamp/SQL Case Study - Country Club/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    if conn is not None:
        with conn: 
            print("Query all facilities:")
            select_all_tasks(conn)
    else:
        print("Error! Cannot create the database connection.")
 
if __name__ == '__main__':
    main()

SQLite version: 2.6.0
Query all facilities:
('07', 'Badminton Court', 165)
('07', 'Massage Room 1', 166)
('07', 'Massage Room 2', 8)
('07', 'Pool Table', 110)
('07', 'Snooker Table', 140)
('07', 'Squash Court', 50)
('07', 'Table Tennis', 98)
('07', 'Tennis Court 1', 201)
('07', 'Tennis Court 2', 123)
('08', 'Badminton Court', 414)
('08', 'Massage Room 1', 316)
('08', 'Massage Room 2', 18)
('08', 'Pool Table', 303)
('08', 'Snooker Table', 316)
('08', 'Squash Court', 184)
('08', 'Table Tennis', 296)
('08', 'Tennis Court 1', 339)
('08', 'Tennis Court 2', 345)
('09', 'Badminton Court', 507)
('09', 'Massage Room 1', 402)
('09', 'Massage Room 2', 28)
('09', 'Pool Table', 443)
('09', 'Snooker Table', 404)
('09', 'Squash Court', 184)
('09', 'Table Tennis', 400)
('09', 'Tennis Court 1', 417)
('09', 'Tennis Court 2', 414)

/var/folders/vn/_qrvqjjx1yb4mwjbsrg0tnj80000gn/T/ipykernel_16928/712446499.py:13: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print("SQLite version:", sqlite3.version)